{# **************** #}
{# * Commentaire ** #}
{# **************** #}

{% extends "/AdminView/layout/layoutAdmin.twig" %}

{% block titre %}Commentaires Manager{% endblock %}


{% block main %}

    <h2 class="text-center mb-5 mt-5 write-white"><span class="underline">C</span>ommentaire</h2>

{% endblock %}