{# **************** #}
{#   Create User    #}
{# **************** #}

{% extends "/AdminView/layout/layoutAdmin.twig" %}

{% block titre %}Creer utilisateur{% endblock %}


{% block main %}

    <h2 class="text-center mb-5 mt-5 write-white"><span class="underline">C</span>ettre reer utilisateur</h2>

{% endblock %}