{# **************** #}
{# ***** Home ***** #}
{# **************** #}

{% extends "/AdminView/layout/layoutAdmin.twig" %}

{% block titre %}Accueil{% endblock %}


{% block main %}

    <h2 class="text-center mb-5 mt-5 write-white"><span class="underline">D</span>ashboard</h2>

{% endblock %}
