{# **************** #}
{# *** Settings *** #}
{# **************** #}

{% extends "/AdminView/layout/layoutAdmin.twig" %}

{% block titre %}Options utilisateur{% endblock %}


{% block main %}

    <h2 class="text-center mb-5 mt-5 write-white"><span class="underline">O</span>ptions</h2>

{% endblock %}