/****************************************************************
 *
 * color decoration
 *
*****************************************************************/

.emerald{
    background-color: #1fa67a;
}

.white{
    border: 2px solid white !important;
    color : white !important;
}

.active{
    color : #1fa67a !important;
}

/****************************************************************
 *
 * Text decoration
 *
*****************************************************************/

.underline {
    text-decoration: underline #1fa67a;
    color: #1fa67a;
}

.write-white{
    color : white;
}

.name-style{
    font-family: 'Rubik',Helvetica,Arial,Lucida,sans-serif;
    text-transform: uppercase;
    font-size: 45px;
    color: #1fa67a;
    letter-spacing: 10px;
    text-align: center;
}

.status-style{
    font-family: 'Karla',Helvetica,Arial,Lucida,sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 11.2px;
    line-height: 2em;
}

.error-text{
    color : #ff603e;
    font-size: 20px;
}

.validate-text{
    color : #1fa67a;
    font-size: 20px;
}

.nav-link
{
    color : white;
}
/****************************************************************
 *
 * Btn decoration
 *
*****************************************************************/

.btn-arrow{
    padding: .3em 1em;
    border: 2px solid #1fa67a;
    color : #1fa67a;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-size: 20px;
    font-weight: 500;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    transition: all .2s;
}

.btn-arrow:after{
    margin-left: -1em;
    opacity: 0;
    text-shadow: none;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    font-variant: none;
    text-transform: none;
    content: ">";
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    transition: all .2s;
}


.btn-arrow:before{
    margin-left: -1em;
    opacity: 0;
    text-shadow: none;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    font-variant: none;
    text-transform: none;
    content: ">";
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    transition: all .2s;
}

.btn-arrow:hover{
    border: 0px solid;
    padding: .3em 2em .3em .7em;
    float: right!important;
}

.btn-arrow:hover {
    margin-left: -1em;
    opacity: 1;
    text-shadow: none;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    font-variant: none;
    text-transform: none;
    content: ">";
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    transition: all .2s;
}

.btn-arrow:hover:after {
    margin-left: 1rem;
    opacity: 1;
}

/****************************************************************
 *
 * Icon decoration
 *
*****************************************************************/

.fa-text > i{
    padding-right: 1rem;
    color : #1FA67A;
    font-size: 1.2rem !important;
}

.fa-text{
    font-size: 1.2rem !important;
}

/****************************************************************
 *
 * Iteam decoration
 *
*****************************************************************/

.btn-emerauld {
    color: #fff;
    background-color: #1fa67a;
    border-color: #1fa67a;
}

.radius-50 {
    border-radius: 50%;
}

.icon-pp{
    width: 2rem;
}

.sidebar-heading
{
    border-bottom: 0px solid #dee2e6 !important;
}

/****************************************************************
 *
 * Timeline decoration
 *
*****************************************************************/

* {
    box-sizing: border-box;
}


/* The actual timeline (the vertical ruler) */
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #1fa67a;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

/* Container around content */
.contain {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

/* The circles on the timeline */
.contain::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -13px;
    background-color: white;
    border: 4px solid #416475;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

/* Place the container to the left */
.left {
    left: 0;
}

/* Place the container to the right */
.right {
    left: 50%;
}

.left >div{
    padding: 20px 30px;
}

.right > div{
    padding: 20px 30px;
}

/* Add arrows to the left container (pointing right) */
.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid #1fa67a;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #1fa67a;
}

/* Add arrows to the right container (pointing left) */
.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid #1fa67a;
    border-width: 10px 10px 10px 0;
    border-color: transparent #1fa67a transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
    left: -13px;
}

/* The actual content */
.content{
    background-color: #1fa67a;
    color: white;
    position: relative;
    border-radius: 6px;
}


/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
    /* Place the timelime to the left */
    .timeline::after {
        left: 31px;
    }

    /* Full-width containers */
    .contain {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

    /* Make sure that all arrows are pointing leftwards */
    .contain::before {
        left: 60px;
        border: medium solid #1fa67a;
        border-width: 10px 10px 10px 0;
        border-color: transparent #1fa67a transparent transparent;
    }

    /* Make sure all circles are at the same spot */
    .left::after, .right::after {
        left: 15px;
    }

    /* Make all right containers behave like the left ones */
    .right {
        left: 0%;
    }
}

/****************************************************************
 *
 * Flip Card
 *
*****************************************************************/

.flip-card {
    background-color: transparent;
    width: 469px;
    height: 213px;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: #bbb;
    color: black;
    z-index: 2;
}

.flip-card-back {
    background-color: #2980b9;
    color: white;
    transform: rotateY(180deg);
    z-index: 1;
    border-radius: .25rem!important;
}