{% extends "/PublicView/layout/layout.twig" %}

{% block titre %}Articles{% endblock %}


{% block main %}

    <h2 class="text-center mb-5 mt-5 write-white"><span class="underline">A</span>rticles</h2>

{% endblock %}