{# **************** #}
{# **** Login ***** #}
{# **************** #}

{% extends "/PublicView/layout/layout.twig" %}

{% block titre %}Login{% endblock %}


{% block main %}

    <form class="container mt-5 write-white" action="{{ pathPost() }}" method="post">

        <h2 class="text-center mb-5"><span class="underline">C</span>onnexion</h2>

        <p id="error" class="row d-flex justify-content-center error-text">{{ errors('login') }}</p>

        <div class="row d-flex justify-content-center form-group">
            <input required name="username" type="username" class="form-control col-md-3" placeholder="Entrer pseudo">
        </div>
        <div class="row d-flex justify-content-center form-group">
            <input required name="password" type="password" class="form-control col-md-3">
        </div>
        <div class="row d-flex justify-content-center mt-5 mb-5">
            <button type="submit" class="btn-arrow" >Connexion</button>
        </div>
    </form>

{% endblock %}