<IfModule mod_rewrite.c>

    Options +FollowSymLinks -Multiviews

    RewriteEngine on
    RewriteBase /

    RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
    RewriteRule ^(.*)$ http://%1/$1 [NE,R=301,L]

</IfModule>