{# **************** #}
{# **** Layout **** #}
{# **************** #}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Language" content="fr" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content=" La dashboard trop bien !">
    <meta name="author" content="Damien Valade">

    <title>{% block titre %}{% endblock %} - Admin Dashboard</title>

    <link rel="icon" href="/img/favicon/favicon.ico">

	<link href="/dist/css/bootstrap/bootstrap.min.css" rel="stylesheet">
	<link href="/dist/css/fontawesome/css/font-awesome.min.css" rel="stylesheet">

    <link href="/css/simple-sidebar.css" rel="stylesheet">
    <link href="/css/normalize.css" rel="stylesheet">

    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/errors.css" rel="stylesheet">

</head>

<body>

<div class="d-flex" id="wrapper">

    {{ include('/AdminView/layout/sidebarAdmin.twig') }}

    <div id="page-content-wrapper">

        {{ include('/AdminView/layout/navbarAdmin.twig') }}

        <div class="container-fluid">

            {% block main %} {% endblock %}

        </div>

    </div>



</div>

<script src="/dist/js/jquery/jquery.min.js"></script>
<script src="/dist/js/bootstrap/bootstrap.min.js"></script>
<script src="/dist/js/chartjs/Chart.js"></script>

<script>

    $(document).ready(function () {
        $('#menu-toggle').click(function () {
                $('#arrow-toggle').prop('checked', false);
        });
    });

</script>

{% block script %}
{% endblock %}

</body>

</html>
