{# **************** #}
{# **** Layout **** #}
{# **************** #}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Language" content="fr" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content=" La dashboard trop bien !">
    <meta name="author" content="Damien Valade">

    <title>{% block titre %}{% endblock %} - Admin Dashboard</title>

    <link rel="icon" href="img/logo/LogoFinalv5-3.png" type="image/gif" sizes="16x16">

    <link href="../vendor/twbs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">


    <link href="../public/css/simple-sidebar.css" rel="stylesheet">
    <link href="../public/css/normalize.css" rel="stylesheet">

    <link href="../public/css/style.css" rel="stylesheet">
    <link href="../public/css/errors.css" rel="stylesheet">

</head>

<body>

<div class="d-flex" id="wrapper">

    {{ include('/AdminView/layout/sidebarAdmin.twig') }}

    <div id="page-content-wrapper">

        {{ include('/AdminView/layout/navbarAdmin.twig') }}

        <div class="container-fluid">

            {% block main %} {% endblock %}

        </div>

    </div>



</div>

<script src="../vendor/components/jquery/jquery.min.js"></script>
<script src="../vendor/twbs/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="../vendor/nnnick/chartjs/dist/Chart.js"></script>

<script>

    $(document).ready(function () {
        $('#menu-toggle').click(function () {
                $('#arrow-toggle').prop('checked', false);
        });
    });

</script>

{% block script %}
{% endblock %}

</body>

</html>
