{# **************** #}
{# **** Footer **** #}
{# **************** #}

<footer class="footer bg-dark pt-3 pb-3">
    <ul class="d-flex justify-content-center mb-0">
        <li class="ml-3 mr-3"><a href="https://github.com/damienvalade"><i class="fa fa-github"></i></a></li>
        <li class="ml-3 mr-3"><a href="https://www.linkedin.com/in/damien-valade/"><i class="fa fa-linkedin"></i></a></li>
        <li class="ml-3 mr-3"><a href="https://twitter.com/valade_damien"><i class="fa fa-twitter"></i></a></li>
        <li class="ml-3 mr-3"><a href="https://codepen.io/damienvalade/#"><i class="fa fa-codepen"></i></a></li>
        <li class="ml-3 mr-3"><a href="https://stackoverflow.com/story/damienvalade"> <i class="fa fa-stack-overflow"></i></a></li>
    </ul>
</footer>