{# **************** #}
{# **** Layout **** #}
{# **************** #}

<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{%  block description %}{% endblock %}">
    <meta name="author" content="Damien Valade">

    <title>{% block titre %}{% endblock %} - Damien Valade</title>

    <link rel="icon" href="/img/favicon/favicon.ico">

    <link href="/dist/css/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="/dist/css/fontawesome/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/dist/js/aos/aos.css" />

    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/errors.css" rel="stylesheet">

</head>

<body>

{% include "/PublicView/layout/navbar.twig" %}

{% block main %} {% endblock %}

{% include "/PublicView/layout/footer.twig" %}



<script src="/dist/js/jquery/jquery.min.js"></script>
<script src="/dist/js/bootstrap/bootstrap.min.js"></script>
<script src="/dist/js/chartjs/Chart.js"></script>
<script src="/dist/js/progressbar/progressbar.min.js"></script>
<script src="/dist/js/aos/aos.js"></script>

{% block script %}{% endblock %}

</body>
</html>
