{# **************** #}
{# *** Error404 *** #}
{# **************** #}

{% extends "/templates/layout.twig" %}

{% block titre %}Erreur 500{% endblock %}

{% block main %}

    <section class="container mt-5 mb-5">
        <h1>Internal Server Error</h1>
        <section class="error-container">
            <span>5</span>
            <span><span class="screen-reader-text">0</span></span>
            <span>0</span>
        </section>

        <div class="d-flex justify-content-center bd-highlight mb-3">
            <a class="btn btn-success" href="index.php?page=public">Retourner home</a>
        </div>
    </section>


{% endblock %}